.product-box {
	a {
		width: 100%;
		display: block;
	}
	&__picture {
		position: relative;
		margin-bottom: $spacer/2;
		img {
			width: 100%;
		}
		&__more {
			text-align: center;
			@extend .pos-abso-full;
			&__mouseover {
				@extend .toggle-y;
				@extend .pos-abso-bottom;
				background: rgba($brand-secondary,.9);
				&__content {
					width: 100%;
					padding: $spacer*2 20%;
				}
				.fast-buy {
					@extend .toggle-y;
				}
			}
			.btn-white-outline:hover {
				background: white;
				color: $brand-secondary;
			}
		}
	}
	&:hover &__picture__more__mouseover {
		@extend .toggle-y-open;
		max-height: 100px;
	}

	&.open-fast-buy {
		.product-box__picture__more__mouseover {
			&__content {
				display: none;			
			}
			@extend .toggle-y-open;
			height: 100%;
			max-height: 100% !important;
		}

		.fast-buy {
			@extend .toggle-y-open;
			padding: $spacer*2 $spacer;
			height: 100%;
			&__content {
					display: block;
				&__close,
				&__bottom {
					display: block;
				}
			}
		}
	}

	.fast-buy {
		display: flex;
		justify-content: center;
		align-items: center;
		&__content {
			display: none;
			width: 100%;
			padding: 0 20%;
			&__close {
				position: absolute;
				top: $spacer*3;
				right: $spacer*3;
				transform: scale(1.5);
				display: none;
			}
			&__bottom {
				display: none;
				@extend .pos-abso-bottom;
				bottom: $spacer*2;
				padding: 0 20%;
				margin: 0 $spacer/2;
			}
			&__element {
				width: 100%;
				margin-bottom: $spacer;
				text-align-last:center;
			}				
		}
	}

	&__title {
		@extend .text-capitalize;
		font-weight: 300;
		font-size: 18px;
		margin: 0;
	}

	&__price {
		font-weight: 900;
		font-size: 16px;

		&--old {
			font-weight: 300;
			text-decoration: line-through;
		}
		&--new {
			margin-left: $spacer/2;
			font-size: 24px;
			color: $brand-primary;
		}
	}
}

.products-menu-nav {
	position: relative;
	height: 70px;
}
.products-menu {
	margin: $spacer*2 0 $spacer 0;
    position: absolute;
    top: 0;
    width: 100%;
	background: rgba(255,255,255,.95);
	z-index: 1000;
	&__items {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		width: 100%;
		cursor: pointer;
		@extend .text-uppercase;			
		div {
			width: 250px;
			padding: 2px $spacer*2 2px $spacer;
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				margin-left: $spacer*2;
				width: 20px;
				height: 10px;
				background-image: url('../img/ico/arrow-down-gray.png');
			}
		}

	}
	&__panel {
		font-size: 14px;
		@extend .toggle-y;
		display: flex;
		flex-direction: row;
		position: relative;
		&__list {
			@extend .list-unstyled;
			padding: $spacer 0;
			li {
				width: 200px;
				margin-right: 50px;
				// padding: 2px $spacer*3;
				padding-bottom: 3px;
				a {
					padding: 2px $spacer 2px $spacer;
				}
				a:hover,&.active a {
					color: inherit;
					background: $brand-secondary;
				}
			}
		}
		&__options {
			right: $spacer*2;
			bottom: $spacer*2;
			position: absolute;
			.btn:first-child {
				margin-right: $spacer;
			}
		}
		.box-filter-price {
			padding: $spacer $spacer*3;
			div {
				margin-bottom: $spacer;
			}
			span {
				width: 30px;
				vertical-align: sub;
				display: inline-block;
			}
			input {
				border: 2px solid $brand-secondary;
				padding: $input-padding-y $input-padding-x;
			}
		}
	}
	&:hover &__panel {
		max-height: 350px;
	}
}